<launch>
    <arg name="map_size_x" value="50"/>
    <arg name="map_size_y" value="50"/>
    <arg name="map_size_z" value="3"/>

        <node pkg="mockamap" type="mockamap_node" name="mockamap_node" output="screen">
            <remap from="/mock_map" to="/global_cloud"/>
            <param name="seed" type="int" value="127"/>
            <param name="update_freq" type="double" value="0.5"/>

            <!--  box edge length, unit meter-->
            <param name="resolution" type="double" value="0.1"/>

            <!-- map size unit meter-->
            <param name="x_length" value="$(arg map_size_x)"/>
            <param name="y_length" value="$(arg map_size_y)"/>
            <param name="z_length" value="$(arg map_size_z)"/>

            <param name="type" type="int" value="1"/>
            <!-- 1 perlin noise parameters -->
            <!-- complexity:    base noise frequency,
                                    large value will be complex
                                    typical 0.0 ~ 0.5 -->
            <!-- fill:          infill persentage
                                    typical: 0.4 ~ 0.0 -->
            <!-- fractal:       large value will have more detail-->
            <!-- attenuation:   for fractal attenuation
                                    typical: 0.0 ~ 0.5 -->

            <param name="complexity"    type="double" value="0.025"/>
            <param name="fill"          type="double" value="0.09"/>
            <param name="fractal"       type="int"    value="1"/>
            <param name="attenuation"   type="double" value="0.1"/>
        </node>
    <node pkg="gcopter" type="for_test" name="for_test_node" output="screen"/>
     <node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find so3_quadrotor_simulator)/config/rviz.rviz"
      />
</launch>